 #shortsubtitle    {display:none;}
 #longsubtitle    {display:block;}
 #aboutFilmArticle p { font-size:2.1em; }            
 #aboutFilmBQ p { text-indent:0; font-size:2.2em;padding-left:25px;}   
 #aboutFilmBQ:before, #aboutFilmBQ:after { font-size: 6.6em; } 
 #aboutFilmBQ:after {height:43px;margin-top:-48px}     
 #ab-header {position:relative; width:55%;margin:0 7.303% 0 37.693%;   
                                            margin-top:20px; margin-bottom:60px;  }  
 
                                            
@media only screen and (min-width:1025px) 
{ /* this takes care of default to desktop like display for any tablet wider than 1024 css pixels */
body {width:1025px; margin:0 auto;}
.accordionButton {margin:0;width:100px;height:110px;}
.badge { border:solid 2px #000; background-image:url('../img/designBlur3.png');
               -webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;overflow:hidden;} 
.badge_icon_container  { float:none;height:75px;width:100px;
                                         border-bottom:#777777 1px solid;
                                         -webkit-border-radius:0px;-moz-border-radius:0px;border-radius:0px;
                                        }       
.badge_title_container {left:0px;top:0px;position:relative;height:35px;
                                         width:100px;border-top:#111111 1px solid;}
.badge_title  {position:absolute;top:0;bottom:0;left:0;right:0;height:25px;}  
.badge h2 { text-align:center;
                   line-height:0;
                   padding-top:15px;} 

#designButton, #historyButton, #communityButton  {position:absolute;  font-size:20px;}                           
#communityButton  {font-size:16px;}
#communityButton .badge h2 { font-size:16px} 
       
#his-text {font-size:1.7em;padding-bottom:40px}           
.his-display {top:190px; right:35.75%;margin-right:10px;}
#his-wrapper {background-position:top left }                   
                              
.des-display {top:190px;right:35.75%;margin-right:10px}  

#com-text {float:none;position:relative; bottom:0px;font-size:1.8em; padding-bottom:1.5%; padding-top:34%}
#com-text {   background:rgba(19,19,19,0.5);
                                background:-webkit-linear-gradient(bottom,rgba(19,19,19,0.6)  0%, rgba(19,19,19,0.6) 49%,transparent 49%, transparent);
                                background:linear-gradient(to top,rgba(19,19,19,0.6) 0%, rgba(19,19,19,0.6) 49%,transparent 49%,transparent); 
                    }
.com-display {top:0px; left:10px;padding-top:46%}
#com-wrapper {background-position:center 25%}     
            
#dir-text {width:42%; font-size:1.9em;padding-bottom:15%;padding-left:4%;padding-right:4%}
#aboutFilmArticle p {  font-size:2.1em; }

nav  a.darkmenu {color:#300a14;}
nav a.lightmenu  {color:#F0E4EC;}
.topbanner nav {display:block;left:42.0%}
.nav li.openmenu { margin-right: 2.0em;font-size:1.4em;} 
.home {display:block;}       
.top-maintitle {font-size:3.2em; text-align:none;}                       
#top-filmtitle {width:317px;}
.top-subtitle  {font-weight:400;font-size:1.6em;} 
.top-director  {padding-top:14px;}
.nav li             { margin-right: 1.4em; font-size:1.4em; font-weight:normal;}
#page-filmtitle {width:454px;}
.page-maintitle {  font-size:4.0em;line-height:0;}
.page-subtitle { font-weight:300;line-height:1.30;margin-top:1.0em;font-size:2.4em;border-bottom:1px solid #300a14;}
.page-director {  font-family:Oswald; font-size:2.4em;line-height:1.0;margin-top:1.0em;}
}

@media only screen and (max-width:1024px)
{
    #videocontainer {padding-top:1%}
    #page-filmtitle {display:none;}
    section.banner.home {height:108px;}
   .top-director   {padding-right:30px;text-align:right;margin-top:-32px}
    #top-filmtitle-left {padding-top:10px}
    .topbanner header {height:100%;display:block;}
    .topbanner nav {display:none;}  
    
    .accordionButton {  opacity:1;}
    .accordionContent {opacity:1;margin-bottom:30px}
    
    #ab-header {width:56%}                               
    #ab-wrapper  {margin-top:0;margin-bottom:108px;}      
    #ab-container  {top:82px;}                                           
    #aboutFilmContent  {margin-top:-108px;}
   
    #directorContent, #historyContent,#designContent, #communityContent {margin-top:0px;}  
    #com-wrapper,#des-wrapper,#dir-wrapper,#his-wrapper  {background-color:#2A2D27;background-position:0px 82px;margin-top:-108px}
    #ab-wrapper {background-color:#2A2D27}
   
    #com-wrapper {background-image:url('../img/CommunityB.jpg'); 
                              -webkit-background-size:contain;
                              -moz-background-size:contain;
                              background-size:contain;}             
     #dir-wrapper         {background-image:url('../img/DirectorB.jpg');}

      #com-text,#des-text,#dir-text {font-size:1.8em;padding:0 3%;margin-top:80px}
      #com {width:100%;}
      
     #get-wrapper        {background-color:#f0e7ec;}
     #get-text               {color:#2A2D27;padding:70px 0%; width:70%;position:relative;margin:0 15%;}
     #get-text h3          {font-family:Oswald;letter-spacing:0.3em;color:#ff0000;position:relative;line-height:1.5}
     #getmaintextbox  {float:left;position:relative;width:100%;border: #2A2D27 solid 2px;box-sizing:border-box;-moz-box-sizing:border-box}
     #getmaintext         {padding:3%;font-family:Balthazar;font-size:1.4em}
     #getsocial              {position:absolute;float:right;padding:0; top:75px; right:-32px;}
     .getsocicon            {float:left;min-width:50px;height:50px;margin-right:20px;padding-top:10px;}
     #getsocial .getsocicon:last-child {margin-right:0px;}
     .getsocicon a         {text-decoration: none;color:#2A2D27;}
     .getsocicon p         {font-size:5em;line-height:0px;}
     .entyporeg              {font-family:"Entypo";padding:0; padding-top:15px;color:#2A2D27}   
}

@media screen and (min-width:1024px) and (max-width:1024px)
{ #top-filmtitle {width:auto;} 
  .top-subtitle   {font-weight:400;font-size:1.6em;} 
  .top-director   {padding-top:14px; padding-right:20px;text-align:right;}
  #first-wrappedpic {margin-top:-20px;}
  #aboutFilmBQ:before {content: open-quote;margin-left: -9%;margin-top:0px;height: 25px;}
  #aboutFilmBQ:after {content: close-quote;margin-left: 95%;margin-top: -45px;height: 45px;}    
 
#his-text   {width:40%;padding-top:60px;padding-bottom:40px} 
#des-text  {width:41.5%;padding-top:60px;padding-bottom:65px;}
#com-text {padding-top:400px;margin-bottom:22px}                        
#com-text {background:rgba(19,19,19,0.6);
                   background:-webkit-linear-gradient(bottom, #2A2D27 0px,#2A2D27 300px,transparent 300px,transparent);
                   background:linear-gradient(to top,#2A2D27 0px, #2A2D27 300px, transparent 300px,transparent);}

#dir-wrapper  {background-position:-50px 82px;}
#dir-text {width:45%;padding-top:200px;padding-bottom:65px;}

#get-text {width:80%;margin:0 10%}
}  

@media only screen and (max-width:1023px)
{#com-text,#des-text,#his-text,#dir-text {width:100%;font-size:1.75em; -moz-box-sizing:border-box;box-sizing:border-box;
                                                                     bottom:0;left:0;margin:0;width:100%;line-height:1.5; padding:0 3%;}          

#his-wrapper {background-image:url('../img/HistoryB.jpg');}  
#his-text ,#des-text {float:none;width:100%;-webkit-column-count:2; -moz-column-count:2;column-count:2;-moz-column-gap: 20px; -webkit-column-gap:20px; column-gap:20px;}

#des-wrapper { background-image:url('../img/DesignP.jpg');}
#dir-wrapper  {background-image:url('../img/DirectorB.jpg');} 
#get-text { width:85%;margin:0 7.5%}          
}    
@media only screen and (min-width:960px) and (max-width:1023px)
{.top-subtitle  {font-size:1.5em;font-weight:normal} 
 .top-director {font-size:1.5em;padding-top:15px;}
}
@media only screen and (min-width:900px)  and  (max-width:1023px)
{
#first-wrappedpic {margin-top:-20px;}   
#aboutFilmArticle p { font-size:1.9em;} 
#aboutFilmBQ p { font-size:2.0em}       
#aboutFilmBQ:before,#aboutFilmBQ:after {font-size:5.5em;} 
#aboutFilmBQ:before {padding-top:60px}
#aboutFilmBQ:after {padding-top:10px} 
#ab-container {padding-left:4%;} 
#ab-header {margin-top:0px; margin-bottom:40px;}  

#his-text {padding-top:600px;padding-bottom:30px;background:rgba(255,19,19,0.65);
                 background:-webkit-linear-gradient(bottom,rgba(19,19,19,0.65) 0%, rgba(19,19,19,0.65) 39%,transparent 39%, transparent);
                 background:linear-gradient(to top,rgba(19,19,19,0.65) 0%, rgba(19,19,19,0.65) 39%,transparent 39%,transparent); 
              
                }
                
#des-text { padding-top:400px;padding-bottom:20px;background:rgba(19,19,19,0.65); 
                   background:-webkit-linear-gradient(bottom,rgba(19,19,19,0.65)  0%, rgba(19,19,19,0.65) 44.5%,transparent 44.5%, transparent);
                   background:linear-gradient(to top,rgba(19,19,19,0.65) 0%, rgba(19,19,19,0.65) 44.5%,transparent 44.5%,transparent); }

#com-text {float:none;font-size:1.8em;padding-top:480px;padding-bottom:30px}                        
#com-text {background-color:rgba(19,19,19,0.6);
                   background:-webkit-linear-gradient(bottom, #2A2D27 0%, #2A2D27 46%, transparent 46%,transparent );
                   background:linear-gradient(to top,#2A2D27 0%, #2A2D27 46%, transparent 46%,transparent); }
 #dir-text {float:none;padding-top:390px;padding-bottom:80px;background:rgba(19,19,19,0.65); 
                   background:-webkit-linear-gradient(bottom,rgba(19,19,19,0.65) 0%, rgba(19,19,19,0.65) 35%,transparent 35%, transparent);
                   background:linear-gradient(to top,rgba(19,19,19,0.65) 0%, rgba(19,19,19,0.65) 35%,transparent 35%,transparent); }                  
  
}    
@media only screen and  (min-width:768px) and (max-width:899px) 
{ #first-wrappedpic {margin-top:-20px;}    
   #aboutFilmArticle p { font-size:1.7em;}
   #aboutFilmBQ p { text-indent:0; font-size:2.1em;padding-left:18px;}       
   #aboutFilmBQ:before, #aboutFilmBQ:after { font-size:6.0em;} 
   #aboutFilmBQ:after {padding-top: 13px;} 
   #ab-container {padding-left:4%;} 
   #ab-header {position:relative; width:55%;margin:0 7.303% 0 37.693%;   
                         margin-top:20px; margin-bottom:60px;}  
} 
@media only screen and (min-width:769px) and (max-width:899px)   
{ 
#his-text {padding-top:625px;padding-bottom:30px;background:rgba(19,19,19,0.65);
                   background:-webkit-linear-gradient(bottom,rgba(19,19,19,0.65) 0%, rgba(19,19,19,0.65) 40%,transparent 40%, transparent);
                   background:linear-gradient(to top,rgba(19,19,19,0.65) 0%, rgba(19,19,19,0.65) 40%,transparent 40%,transparent); }
#des-text { padding-top:420px;padding-bottom:20px;background:rgba(19,19,19,0.65); 
                   background:-webkit-linear-gradient(bottom,rgba(19,19,19,0.65) 0%, rgba(19,19,19,0.65) 46%,transparent 46%, transparent);
                   background:linear-gradient(to top,rgba(19,19,19,0.65) 0%, rgba(19,19,19,0.65) 46%,transparent 46%,transparent); }
#com-text {float:none;font-size:1.8em;padding-top:480px;padding-bottom:30px}                        
#com-text {background-color:rgba(19,19,19,0.6);
                   background:-webkit-linear-gradient(bottom,#2A2D27 0%, #2A2D27 46%, transparent 46%,transparent );
                   background:linear-gradient(to top,#2A2D27 0%, #2A2D27 46%, transparent 46%,transparent); }
#dir-text {float:none;padding-top:390px;padding-bottom:80px;background:rgba(19,19,19,0.65); 
                   background:-webkit-linear-gradient(bottom,rgba(19,19,19,0.65) 0%, rgba(19,19,19,0.65) 35%,transparent 35%, transparent);
                   background:linear-gradient(to top,rgba(19,19,19,0.65) 0%, rgba(19,19,19,0.65) 35%,transparent 35%,transparent); }                    
      
.com-columns { -moz-column-gap: 20px; -webkit-column-gap:20px;column-gap:20px; }   

#get-text  {width:90%; margin:0 5%}
.getsocicon {margin-right:12px;}
.getsocicon p {font-size:4.5em;}
#getsocial .getsocicon:last-child {margin-right:0px;}
}     

@media screen and (min-width:768px) and (max-width:768px) /*and (orientation:portrait)*/
{
#first-wrappedpic {margin-top:-25px;}
#aboutFilmArticle p { font-size:1.7em;}
#aboutFilmBQ p { text-indent:0; font-size:2.1em;padding-left:18px;}       
#aboutFilmBQ:before, #aboutFilmBQ:after { font-size: 6.0em; } 
#aboutFilmBQ:after {padding-top: 13px;} 
#ab-container {padding-left:4%;  } 
#ab-header {position:relative; width:55%;margin:0 7.303% 0 37.693%;   
                                     margin-top:20px; margin-bottom:60px;}  
                                     
#his-text {float:none;padding-top:600px;padding-bottom:30px;background:rgba(19,19,19,0.65);
                   background:-webkit-linear-gradient(bottom,rgba(19,19,19,0.65)  0%, rgba(19,19,19,0.65) 43%,transparent 43%, transparent);
                   background:linear-gradient(to top,rgba(19,19,19,0.65) 0%, rgba(19,19,19,0.65) 43%,transparent 43%,transparent); }   

#des-text { float:none;padding-top:420px;padding-bottom:20px;background:rgba(19,19,19,0.65); 
                   background:-webkit-linear-gradient(bottom,rgba(19,19,19,0.65)  0%, rgba(19,19,19,0.65) 48%,transparent 48%, transparent);
                   background:linear-gradient(to top,rgba(19,19,19,0.65) 0%, rgba(19,19,19,0.65) 48%,transparent 48%,transparent); }   

#com-text {float:none;font-size:1.8em;padding-top:480px;padding-bottom:30px}                        
#com-text {background-color:rgba(19,19,19,0.6);
                   background:-webkit-linear-gradient(bottom,#2A2D27 0%, #2A2D27 48%, transparent 48%,transparent );
                   background:linear-gradient(to top,#2A2D27 0%, #2A2D27 48%, transparent 48%,transparent); }
                   
#dir-text {float:none;padding-top:390px;padding-bottom:80px;background:rgba(19,19,19,0.65); 
                   background:-webkit-linear-gradient(bottom,rgba(19,19,19,0.65) 0%, rgba(19,19,19,0.65) 37%,transparent 37%, transparent);
                   background:linear-gradient(to top,rgba(19,19,19,0.65) 0%, rgba(19,19,19,0.65) 37%,transparent 37%,transparent); }   
 #get-text        {width:95%;margin:0 2.5%}  
.getsocicon     {margin-right:12px;}
.getsocicon p {font-size:4.5em;} 
#getsocial  .getsocicon:last-child {margin-right:0px;}
}

@media only screen and (max-width:767px)
{ 
.topbanner {position:relative;}   
#top-filmtitle {width:auto} 
.top-director   {padding-right:20px;text-align:right;margin-top:0px;font-size:1.6em;text-align: right;}
#top-filmtitle-left {padding-top:0px}
.top-subtitle   {font-weight:400;font-size:1.6em;} 

#ab-container {padding-left:3%;  margin-bottom:15px;}      

#get-wrapper        {text-align:center}
#get-text               {width:95%;padding-top:20px;margin:0 2.5%}   
#get-text h3          {line-height:1.0}              
#getmaintextbox  {margin-top:0px}
#getmaintext         {font-size:1.0em}
#getsocial             {position:relative;float:none;margin:0 auto;padding:0;padding-left:48px;width:420px;height:60px;right:0px;top:0px;top:20px;}
.getsocicon p       {font-size:5em;} 
.getsocicon          {margin-right:20px;padding:0;margin-top:0;}
#getsocial .getsocicon:last-child {margin-right:0px;}                   
#com-wrapper,#des-wrapper,#dir-wrapper,#his-wrapper {margin-top:-93px;-webkit-background-size:contain;-moz-background-size:contain;background-size:contain;}
#aboutFilmContent {margin-top:-93px}
#his-text,#des-text,#com-text,#dir-text {font-size:1.6em;}
#his-wrapper  {background-image:url('../img/HistoryC.jpg');
                          background-position:left 82px;}      
#des-wrapper  {background-image:url('../img/DesignC.jpg')}  
#com-wrapper {background-image:url('../img/CommunityC.jpg')}
#dir-wrapper    {background-image:url('../img/DirectorC.jpg');}    
#his-text,#des-text,#com-text,#dir-text {background:transparent;float:none}                      

#his-text     {padding-top:73.5%;padding-bottom:2%; background:transparent}                        
#des-text    {padding-top:70.5%;padding-bottom:3%;background:transparent}
#com-text   {padding-top:72%; padding-bottom:2%;background:transparent;}
#dir-text      {padding-top:63%;padding-bottom:8%; background:transparent}  
#dir-text h3 {font-size:25px;}           
}

@media only screen and (min-width:569px) and (max-width:767px)
{.accordionButton {margin-bottom:15px;}
 .accordionContent {margin-bottom:15px;}
 #ab-wrapper {margin-bottom:93px;}
 .ab-shim {display:block;height:150px;margin-left:-3.5%;}  
 div .ab-shim:first-child {display:none}  
 #aboutFilmArticle p {text-indent:4%;padding-right:3%;font-size:1.8em;}
 #aboutFilmBQ p { text-indent:0; font-size:1.8em;padding-left:28px;}       
 #aboutFilmBQ:before, #aboutFilmBQ:after {font-size: 5.4em; } 
 #aboutFilmBQ:after {height:33px;margin-top:-40px}  
 .ab-wrappedpic  {margin-top:7px;margin-bottom:7px;} 
 #ab-header {position:relative; width:55%;margin:0 7.303% 0 37.693%;margin-top:20px; margin-bottom:60px;  }   
 .ab-pic {min-width:216px;}
 .ab-pic img {min-width:216px;}
 }
@media only screen and (max-width:568px)
{#first-wrappedpic {margin-top:-30px;} 
#aboutFilmBQ p        {text-indent:0; font-size:1.8em;padding-left:28px;}       
.accordionButton      {margin-bottom:5px;}
.accordionContent    {margin-bottom:5px}   
#aboutFilmContent   {margin-top:-83px;}
#ab-wrapper               {margin-bottom:88px;} /* 83 + 5 +15 = 108*/ 
#com-wrapper,#des-wrapper,#dir-wrapper,#his-wrapper {background-position:0 80px}
#com-wrapper,#des-wrapper,#dir-wrapper,#his-wrapper {margin-top:-83px;}
#aboutFilmContent {margin-top:-83px}

#directorContent, #historyContent,#designContent, #communityContent {margin-top:0px;}  
.com-columns { padding:1% 2% 1% 2%;}
.col-columns,#his-text,
#des-text,#com-text,#dir-text {-webkit-column-count:1;-moz-column-count:1;column-count:1;
                                                    -moz-column-gap: 0px;-webkit-column-gap:0px;column-gap:0px; } 
#get-wrapper         {text-align:center}
#get-text                {width:95%;margin:0 2.5%;padding-top:10px;}   
#get-text h3           {line-height:1.0}              
#getmaintextbox   {margin-top:0px}
#getmaintext         {font-size:1.0em}
#getsocial              {position:relative;float:none;margin:0 auto;padding:0;padding-left:48px;width:420px;height:60px;right:0px;top:0px;top:20px;}
.getsocicon p        {font-size:5em;} 
.getsocicon            {margin-right:20px;padding:0;margin-top:0;}
#getsocial .getsocicon:last-child {margin-right:0px;}

#his-text,#des-text,#com-text,#dir-text {font-size:1.6em}   
#his-text     {padding-top:75%;}                        
#des-text    {padding-top:72%;padding-bottom:3%;}
#com-text   {padding-top:73%; padding-bottom:2%;}
#dir-text      {padding-top:63%;padding-bottom:8%;}  
#dir-text h3 {font-size:25px;} 

}
@media only screen and (min-width:568px) and (max-width:568px)
{#ab-wrapper {margin-bottom:88px;}   
.ab-shim {display:block;height:150px;margin-left:-3.5%;}  
div .ab-shim:first-child {display:none}  
#aboutFilmArticle p {text-indent:4%; padding-right:3%;font-size:1.7em;}
#ab-header {position:relative; width:55%;margin:0 7.303% 0 37.693%;margin-top:20px; margin-bottom:60px; margin-left:41%;margin-right:9% }  
.ab-pic {min-width:216px;}
.ab-pic img {min-width:216px;}
#aboutFilmBQ p { text-indent:0; font-size:1.8em;padding-left:28px;}       
#aboutFilmBQ:before, #aboutFilmBQ:after {font-size: 5.4em; } 
#aboutFilmBQ:before {margin-left:-14px}
#aboutFilmBQ:after {height:33px;margin-top:-40px}  
}
@media only screen and (min-width:481px) and (max-width:567px)
{#ab-wrapper {  margin-bottom:88px;}     
#ab-header {position:relative; width:55%;margin:0 7.303% 0 37.693%;margin-top:20px; margin-bottom:60px; margin-left:41%;margin-right:9% }  
.ab-pic {min-width:216px;}
.ab-pic img {min-width:216px;}
.ab-shim {display:block;height:150px;margin-left:-3.5%;}  
div .ab-shim:first-child {display:none}  
#aboutFilmArticle p {text-indent:4%; padding-right:3%;font-size:1.7em;}
#aboutFilmBQ p { text-indent:0; font-size:1.8em;padding-left:28px;}       
#aboutFilmBQ:before, #aboutFilmBQ:after {font-size: 5.4em; } 
#aboutFilmBQ:before {margin-left:-14px}
#aboutFilmBQ:after {height:33px;margin-top:-40px}     
}
@media only screen and (max-width:480px)
{.top-director     {text-align: left}  
#aboutFilmArticle p {padding-left:2;margin-left:0; padding-right:2;text-align:justify;font-size:1.8em; }   
#his-text     {padding-top:75%;padding-bottom:4%; background:transparent}                        
#des-text    {padding-top:72%;padding-bottom:4%;background:transparent}
#com-text   {padding-top:74%; padding-bottom:4%;background:transparent;}
#dir-text      {padding-top:65%;padding-bottom:8%; background:transparent}  
#dir-text h3 {font-size:25px;}       
}
@media only screen and (min-width: 480px) and (max-width:480px) 
{             
.top-maintitle {font-size:3.2em;}
#ab-container {padding:0 0 2% 2%; }
.ab-shim {display:block;margin:0 0 10px 0; height:375px;}
#ab-topshim  {height:10px; }          
.ab-wrappedpic {max-width:582px;width:100%; margin:10px auto;}
.ab-pic {width:100%; margin:5px auto;}                      
.ab-pic img {max-width:400px;border-top: transparent 10px solid;border-bottom:transparent 10px solid}
#ab-header {width:442px;margin:0 auto;margin-top:0px; margin-bottom:0px;top:0;} 
#aboutFilmBQ {margin-top:0px;width:80%;position:relative;padding-bottom:80px}
#aboutFilmBQ p  {top:20px;position:absolute;line-height:1.5;margin:0 auto;margin-left:0px;text-align:left;padding-right:0px;}  
#aboutFilmBQ:before {position:relative;top:-25px;height:10px;width:38px;margin-left:-42px;margin-bottom:10px; 
                                      margin-top:0;padding-top:1px;padding-bottom:0px;line-height:0}
#aboutFilmBQ:after {position:relative;bottom:-70px}                                     
#aboutFilmArticle {margin-top:0px;}
}
@media screen and (min-width:320px) and (max-width:479px)
{#longsubtitle   {display:none;}
#shortsubtitle  {display:block}
.top-maintitle   {font-size:2.8em;}
.accordionButton { width:312px;}
#ab-container {padding:0 4px 5px 4px; }
.ab-shim {display:block;margin: 10px 5px; height:400px;}
#ab-topshim {display:block; height:250px;}                     
.ab-wrappedpic { max-width:470px;width:100%;margin:6px auto 14px;} 
.ab-pic {width:100%;margin:0 auto;}
.ab-pic img {min-width:298px;border-top: transparent 10px solid;}
.ab-pic img:first-child {border-top:transparent 20px solid;}
#ab-header {position:relative;width:98%; margin:0 auto;margin-top:0px; margin-bottom:10px; height:100px;}
#aboutTopParagraph {margin-top:100px;} 
#aboutFilmBQ:before, #aboutFilmBQ:after {font-size:1px;content:""} 
#aboutFilmBQ  {width:100%;}
#aboutFilmBQ p {position:absolute;1.5em; line-height:1.4;padding:0 3px;text-align:justify;} 
             
#get-text h3 {letter-spacing:0.1em;font-size:32px}
#getmaintextbox {border-width:1px;margin-bottom:-15px}
.getsocicon p {font-size:4.0em;line-height:0px;}
#getsocial {width:320px;left:-5px;padding:0;margin:0;}
.getsocicon {margin-right:5px;min-width:40px;}
.entyporeg {width:40px;}

#his-text     {padding-top:85%;}                        
#des-text    {padding-top:84%;}
#com-text   {padding-top:84%;}
#dir-text      {padding-top:75%;}  
#dir-text h3 {font-size:25px;}       

}
@media only screen and (max-width:320px) 
{ #his-wrapper   {height:1150px}
#des-wrapper  {height:1030px}
#com-wrapper {height:1160px}
}
